.KApayment{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
}
#all{
    /* background-color: aqua; */
    margin-left: 10px;
}
.uploadbox{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
}

.item9{
    justify-content: center;
    align-items: center;
    margin-left: 40%;
    margin-top: 10px;
    /* margin-bottom: 10px; */
}
.item3{
    margin-left: 10px;
    margin-right: 10px;
}
.texting{
    padding-bottom: 10px;
    /* background-color: aqua; */
}
.textInput{
    height: 35px;
    margin-left: 5px;
    padding-left: 5px;
    /* margin-right: 5px; */
    border-radius: 5px;
    width: 95%;
}
.RadioInput{
    width: 30px;

}
.btnsub{
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 5px;
}
.btnsubb{
    padding-left: 10px;
    padding-right: 10px;
    height: 38px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 5px;
}

.item9 :hover{
    background-color:rgb(191, 191, 255) ;
}

.grid-container{
    display: grid;
    grid-template-areas:
    'item item item item item item item item left left'
    'item item item item item item item item left left'
    'item item item item item item item item left left'
    'item item item item item item item item item item left left'
    'item item item item item item item item left left'
    'item item item item item item item item left left';
    gap: 0px;
}

.left{
    justify-content: right;
    align-items: right;
}

/* .OneItem{ */
    /* width: 300px; */
/* } */
.Imagebox{
    height: 190px;
}

.selectitem{
    width: 150px;
    height: 40px;
    border-radius: 5px;
    margin-right: 350px;
    /* background-color: aqua; */
}

.notify{
    padding-top: 10px;
}