/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


/*
==========page not found css==========
*/
.pnf{
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pnf-title{
  font-size: 100px;
  font-weight: 700;
}

.pnf-heading{
  font-weight: normal;
}

.pnf-btn{
  color:black;
  border: 1px solid black;
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;
}

/* ========register========= */
/* .register{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250vh;
  flex-direction: column;
} */

/* ================Product====================== */
.product-link{
  text-decoration: none !important;
  color: black !important;
}

.product-card {
  width: 18rem; /* Fixed width for all cards */
  height: 100%; /* Let the height grow based on content, but keep them consistent */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Distribute space between content */
  margin-bottom: 20px;
}

.product-img {
  height: 200px; /* Fixed height for images */
  object-fit: cover; /* Crop the image to fit the space */
}

.card-body {
  flex-grow: 1; /* Ensure the card body grows to fill available space */
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Keep the content aligned to the bottom */
}

.card-title, .card-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; /* If the title or description is too long, truncate it */
}

.d-flex {
  gap: 20px; /* Adds space between the cards horizontally */
  justify-content: center; /* Centers the content */
}